li {
  list-style-type: none;
  margin-bottom: 8px;
  font-size: 16px;
}

.first_box {
  margin-top: 20px;
}

.second_box {
  margin-top: 30px;
}

.third_box {
  margin-top: 30px;
}

.main-header .logo,
.main-header .logo:hover {
    background-color: #d12d2c !important;
}

.main-header .navbar,
.main-header .navbar:hover,
.main-header .navbar .sidebar-toggle:hover {
    background-color: #ed7422 !important;
}
