<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    Direct T World
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2018 <a href="#">[07조]</a>.</strong> All rights reserved.
</footer>
